@import "../../css/colors.css";

.layers-container {
    width: 308px;
    height: 100%;
    border: 1px solid $ui-pane-border;
    border-radius: .25rem;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    overflow: auto;
}

.layer {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

.layer > .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-radius: 0.25rem;
    transition: 0.1s ease;
    padding: 8px;
    cursor: pointer;
}

.layer > .info input {
    height: 1.5rem;
}

.layer.active > .info {
    background: $looks-secondary;
    color: #fff;
}

.layer.active > .info img {
    filter: brightness(0) invert(1);
}

.layer > .layer {
    margin-left: 16px;
}

.layer > .layer > .info {
    padding: 4px 8px;
}